@font-face {
  font-family: 'TWK Everett';
  src:
    local('TWK Everett'),
    local('TWKEverett-Regular'),
    local('TWK Everett Regular'),
    url('/fonts/TWKEverett-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src:
    local('TWK Everett Medium'),
    local('TWKEverett-Medium'),
    url('/fonts/TWKEverett-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src:
    local('TWK Everett Bold'),
    local('TWKEverett-Bold'),
    url('/fonts/TWKEverett-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TWK Everett';
  src:
    local('TWK Everett Extrabold'),
    local('TWKEverett-Extrabold'),
    local('TWK Everett ExtraBold'),
    url('/fonts/TWKEverett-Extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
